{
  "openapi": "3.0.3",
  "info": {
    "title": "Sayless Public API",
    "version": "1.0.0",
    "description": "Curated work-graph HTTP API for personal API keys (`sl_api_…`) or OAuth tokens (`sl_oat_…`), including app-actor / client_credentials. Documents the API/OAuth response mode only."
  },
  "servers": [
    {
      "url": "https://api.joinsayless.com",
      "description": "Production gateway"
    }
  ],
  "tags": [
    {
      "name": "Tickets"
    },
    {
      "name": "Ticket comments"
    },
    {
      "name": "Ticket statuses"
    },
    {
      "name": "Ticket subscriptions"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Conversation labels"
    },
    {
      "name": "Conversation statuses"
    },
    {
      "name": "Conversation subscriptions"
    },
    {
      "name": "Conversation views"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Company labels"
    },
    {
      "name": "Company sectors"
    },
    {
      "name": "Contract types"
    },
    {
      "name": "Company relationships"
    },
    {
      "name": "Company updates"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Folders"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Team memberships"
    },
    {
      "name": "Attachments"
    },
    {
      "name": "Webhook subscriptions"
    },
    {
      "name": "Workspace"
    }
  ],
  "paths": {
    "/api/v1/tickets/list": {
      "post": {
        "operationId": "TicketsController_fetchWorkspaceTickets",
        "summary": "List tickets",
        "description": "Returns a page of tickets.",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Ticket"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceTicketsRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/info": {
      "post": {
        "operationId": "TicketsController_fetchTicketInfo",
        "summary": "Get ticket",
        "description": "Returns one ticket. `_id` may be the ticket UUID or a subject-urlId slug.",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Ticket"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketInfoRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/create": {
      "post": {
        "operationId": "TicketsController_createTicket",
        "summary": "Create ticket",
        "description": "Creates a ticket.",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Ticket"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCreateTicketRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/tickets/update": {
      "post": {
        "operationId": "TicketsController_updateTicket",
        "summary": "Update ticket",
        "description": "Updates a ticket.",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Ticket"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicUpdateTicketRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/delete": {
      "post": {
        "operationId": "TicketsController_deleteTicket",
        "summary": "Delete ticket",
        "description": "Deletes a ticket.",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketDeleteRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/restore": {
      "post": {
        "operationId": "TicketsController_restoreTicket",
        "summary": "Restore ticket",
        "description": "Restores a deleted ticket.",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Ticket"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketRemoveAssigneeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/set_sla": {
      "post": {
        "operationId": "TicketsController_setSla",
        "summary": "Set SLA",
        "description": "Sets the SLA on the ticket.",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Ticket"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTicketSlaRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketComment/info": {
      "post": {
        "operationId": "TicketsController_timelineInfo",
        "summary": "List ticket comments",
        "description": "Returns comments and activity for one ticket. `_id` is the ticket id.",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TicketComment"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketTimelineInfoRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketComment/create": {
      "post": {
        "operationId": "TicketsController_createComment",
        "summary": "Create ticket comment",
        "description": "Creates a comment from plain-text `description`. Sayless stores it as Lexical. The app sends `content` instead.",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TicketComment"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCreateCommentRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/tickets/ticketComment/update": {
      "post": {
        "operationId": "TicketsController_updateComment",
        "summary": "Update ticket comment",
        "description": "Replaces a comment from plain-text `description`.",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TicketComment"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicUpdateCommentRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketComment/delete": {
      "post": {
        "operationId": "TicketsController_deleteComment",
        "summary": "Delete ticket comment",
        "description": "Deletes a ticket comment.",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCommentRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketComment/comment_reaction_add": {
      "post": {
        "operationId": "TicketsController_addCommentReaction",
        "summary": "Add ticket comment reaction",
        "description": "Adds a Unicode emoji reaction to a comment. `emoji` is the character the app stores, for example 👍.",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TicketComment"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCommentReactionRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketComment/comment_reaction_remove": {
      "post": {
        "operationId": "TicketsController_removeCommentReaction",
        "summary": "Remove ticket comment reaction",
        "description": "Removes that Unicode emoji reaction from the comment.",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TicketComment"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicCommentReactionRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketStatus/list": {
      "post": {
        "operationId": "TicketsController_fetchWorkspaceTicketStatus",
        "summary": "List ticket statuses",
        "description": "Returns a page of ticket statuses.",
        "tags": [
          "Ticket statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TicketStatus"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceTicketsRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketStatus/create": {
      "post": {
        "operationId": "TicketsController_createTicketStatus",
        "summary": "Create ticket status",
        "description": "Creates a ticket status.",
        "tags": [
          "Ticket statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TicketStatus"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketStatusCreateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/tickets/ticketStatus/update": {
      "post": {
        "operationId": "TicketsController_updateTicketStatus",
        "summary": "Update ticket status",
        "description": "Updates a ticket status.",
        "tags": [
          "Ticket statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TicketStatus"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketStatusUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketStatus/delete": {
      "post": {
        "operationId": "TicketsController_deleteTicketStatus",
        "summary": "Delete ticket status",
        "description": "Deletes a ticket status.",
        "tags": [
          "Ticket statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketStatusDeleteRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketSubscriptions/list": {
      "post": {
        "operationId": "TicketsController_fetchUserTicketSubscriptions",
        "summary": "List ticket subscriptions",
        "description": "Returns a page of ticket subscriptions.",
        "tags": [
          "Ticket subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TicketSubscription"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceTicketsRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketSubscriptions/info": {
      "post": {
        "operationId": "TicketsController_fetchTicketSubscriptionInfo",
        "summary": "Get ticket subscription",
        "description": "Returns one ticket subscription.",
        "tags": [
          "Ticket subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TicketSubscription"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketInfoRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketSubscriptions/list_ticket_subscriptions": {
      "post": {
        "operationId": "TicketsController_fetchTicketSubscriptions",
        "summary": "List subscriptions on a ticket",
        "description": "Lists subscriptions on one ticket.",
        "tags": [
          "Ticket subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TicketSubscription"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketSubscriptionListConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketSubscriptions/create": {
      "post": {
        "operationId": "TicketsController_createTicketSubscription",
        "summary": "Create ticket subscription",
        "description": "Creates a ticket subscription.",
        "tags": [
          "Ticket subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/TicketSubscription"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketSubscriptionRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/tickets/ticketSubscriptions/delete": {
      "post": {
        "operationId": "TicketsController_deleteTicketSubscription",
        "summary": "Delete ticket subscription",
        "description": "Deletes a ticket subscription.",
        "tags": [
          "Ticket subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketInfoRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/list": {
      "post": {
        "operationId": "ConversationsController_fetchWorkspaceConversations",
        "summary": "List conversations",
        "description": "Returns a page of conversations.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/info": {
      "post": {
        "operationId": "ConversationsController_fetchConversationInfo",
        "summary": "Get conversation",
        "description": "Returns one conversation. `_id` may be the UUID, a subject-urlId slug, or the conversation number. `conversationNumber` also looks the record up by number.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Conversation"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InfoConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update": {
      "post": {
        "operationId": "ConversationsController_updateConversation",
        "summary": "Update conversation",
        "description": "Updates a conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/delete": {
      "post": {
        "operationId": "ConversationsController_delete",
        "summary": "Delete conversation",
        "description": "Deletes a conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/restore": {
      "post": {
        "operationId": "ConversationsController_restoreDeletedConversation",
        "summary": "Restore conversation",
        "description": "Restores a deleted conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/archive": {
      "post": {
        "operationId": "ConversationsController_archiveConversation",
        "summary": "Archive conversation",
        "description": "Archives a conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/unarchive": {
      "post": {
        "operationId": "ConversationsController_unarchiveConversation",
        "summary": "Unarchive conversation",
        "description": "Unarchives a conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/add_team": {
      "post": {
        "operationId": "ConversationsController_assignToTeam",
        "summary": "Add team",
        "description": "Adds a team to the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {}
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTeamRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/assign_user": {
      "post": {
        "operationId": "ConversationsController_assignToUser",
        "summary": "Assign user",
        "description": "Assigns a member to the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/link_ticket": {
      "post": {
        "operationId": "ConversationsController_linkTicket",
        "summary": "Link ticket",
        "description": "Links a ticket to the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkTicketRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/link_track": {
      "get": {
        "operationId": "ConversationsController_handleTestLinkClick",
        "summary": "Track conversation link",
        "description": "Tracks a link click from a conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {}
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/mark_read": {
      "post": {
        "operationId": "ConversationsController_markAsRead",
        "summary": "Mark conversation read",
        "description": "Marks a conversation as read.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkReadRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/mark_spam": {
      "post": {
        "operationId": "ConversationsController_markAsSpamConversation",
        "summary": "Mark conversation as spam",
        "description": "Marks a conversation as spam.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkSpamRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/mark_unread": {
      "post": {
        "operationId": "ConversationsController_markAsUnread",
        "summary": "Mark conversation unread",
        "description": "Marks a conversation as unread.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkReadRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/remove_team": {
      "post": {
        "operationId": "ConversationsController_unassignFromTeam",
        "summary": "Remove team",
        "description": "Removes a team from the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {}
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveTeamRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/restore_spam": {
      "post": {
        "operationId": "ConversationsController_restoreFromSpam",
        "summary": "Restore conversation from spam",
        "description": "Restores a conversation from spam.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreSpamConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/set_sla": {
      "post": {
        "operationId": "ConversationsController_setSla",
        "summary": "Set SLA",
        "description": "Sets the SLA on the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetConversationSlaRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/snooze": {
      "post": {
        "operationId": "ConversationsController_snoozeWorkspaceConversation",
        "summary": "Snooze conversation",
        "description": "Snoozes a conversation until a later time.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSnoozeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/spam": {
      "post": {
        "operationId": "ConversationsController_getSpamConversations",
        "summary": "List spam conversations",
        "description": "Returns conversations marked as spam.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSpamConversationsRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/unassign_user": {
      "post": {
        "operationId": "ConversationsController_unassignFromUser",
        "summary": "Unassign user",
        "description": "Clears the assignee on the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveUserRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/unsnooze": {
      "post": {
        "operationId": "ConversationsController_unsnoozeWorkspaceConversation",
        "summary": "Unsnooze conversation",
        "description": "Clears a snooze on a conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveSnoozeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update_company": {
      "post": {
        "operationId": "ConversationsController_updateCompany",
        "summary": "Update conversation company",
        "description": "Sets the company on the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompanyRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update_labels": {
      "post": {
        "operationId": "ConversationsController_updateLabels",
        "summary": "Update conversation labels",
        "description": "Replaces labels on the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLabelsRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update_priority": {
      "post": {
        "operationId": "ConversationsController_updatePriority",
        "summary": "Update conversation priority",
        "description": "Sets the priority on the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePriorityRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update_status": {
      "post": {
        "operationId": "ConversationsController_updateStatus",
        "summary": "Update conversation status",
        "description": "Sets the status on the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStatusRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update_subject": {
      "post": {
        "operationId": "ConversationsController_updateSubject",
        "summary": "Update conversation subject",
        "description": "Sets the subject on the conversation.",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubjectRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationLabels/list": {
      "post": {
        "operationId": "ConversationsController_fetchConversationLabels",
        "summary": "List conversation labels",
        "description": "Returns a page of conversation labels.",
        "tags": [
          "Conversation labels"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationLabel"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationLabelListRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationLabels/create": {
      "post": {
        "operationId": "ConversationsController_createConversationLabel",
        "summary": "Create conversation label",
        "description": "Creates a conversation label.",
        "tags": [
          "Conversation labels"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationLabelCreateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/conversations/conversationLabels/update": {
      "post": {
        "operationId": "ConversationsController_updateConversationLabel",
        "summary": "Update conversation label",
        "description": "Updates a conversation label.",
        "tags": [
          "Conversation labels"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationLabelUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationLabels/delete": {
      "post": {
        "operationId": "ConversationsController_deleteConversationLabel",
        "summary": "Delete conversation label",
        "description": "Deletes a conversation label.",
        "tags": [
          "Conversation labels"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationLabelDeleteRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationStatus/list": {
      "post": {
        "operationId": "ConversationsController_fetchWorkspaceConversationStatus",
        "summary": "List conversation statuses",
        "description": "Returns a page of conversation statuses.",
        "tags": [
          "Conversation statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationStatus"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationStatus/create": {
      "post": {
        "operationId": "ConversationsController_createConversationStatus",
        "summary": "Create conversation status",
        "description": "Creates a conversation status.",
        "tags": [
          "Conversation statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationStatusCreateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/conversations/conversationStatus/update": {
      "post": {
        "operationId": "ConversationsController_updateConversationStatus",
        "summary": "Update conversation status",
        "description": "Updates a conversation status.",
        "tags": [
          "Conversation statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationStatusUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationStatus/delete": {
      "post": {
        "operationId": "ConversationsController_deleteConversationStatus",
        "summary": "Delete conversation status",
        "description": "Deletes a conversation status.",
        "tags": [
          "Conversation statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationStatusDeleteRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationSubscriptions/list": {
      "post": {
        "operationId": "ConversationsController_fetchUserConversationSubscriptions",
        "summary": "List conversation subscriptions",
        "description": "Returns a page of conversation subscriptions.",
        "tags": [
          "Conversation subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationSubscription"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSubscriptionListRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationSubscriptions/info": {
      "post": {
        "operationId": "ConversationsController_fetchConversationSubscriptionInfo",
        "summary": "Get conversation subscription",
        "description": "Returns one conversation subscription.",
        "tags": [
          "Conversation subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationSubscription"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSubscriptionInfoRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationSubscriptions/create": {
      "post": {
        "operationId": "ConversationsController_createConversationSubscription",
        "summary": "Create conversation subscription",
        "description": "Creates a conversation subscription.",
        "tags": [
          "Conversation subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSubscriptionCreateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/conversations/conversationSubscriptions/delete": {
      "post": {
        "operationId": "ConversationsController_unsubscribeFromConversation",
        "summary": "Delete conversation subscription",
        "description": "Deletes a conversation subscription.",
        "tags": [
          "Conversation subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsubscribeConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationSubscriptions/conversation": {
      "post": {
        "operationId": "ConversationsController_fetchConversationSubscriptions",
        "summary": "List subscriptions on a conversation",
        "description": "Returns the conversation for a subscription.",
        "tags": [
          "Conversation subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ConversationSubscription"
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSubscriptionsConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/viewPreferences/create": {
      "post": {
        "operationId": "ConversationsController_createViewPreferences",
        "summary": "Create view preference",
        "description": "Creates a view preference.",
        "tags": [
          "Conversation views"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewPreferencesCreateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/conversations/viewPreferences/update": {
      "post": {
        "operationId": "ConversationsController_updateViewPreferences",
        "summary": "Update view preference",
        "description": "Updates a view preference.",
        "tags": [
          "Conversation views"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewPreferencesUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/list_conversation_messages": {
      "post": {
        "operationId": "MessagesController_fetchMessageInfo",
        "summary": "List messages",
        "description": "Returns messages in a conversation.",
        "tags": [
          "Messages"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequestBody"
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/send_message": {
      "post": {
        "operationId": "MessagesController_sendMessage",
        "summary": "Send message",
        "description": "Sends a message on a conversation.",
        "tags": [
          "Messages"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/messages/edit_message": {
      "post": {
        "operationId": "MessagesController_editMessage",
        "summary": "Edit message",
        "description": "Edits a message you already sent.",
        "tags": [
          "Messages"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "data"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
