{
  "openapi": "3.0.3",
  "info": {
    "title": "Sayless Public API",
    "version": "1.0.0",
    "description": "Curated work-graph HTTP API for personal API keys (`sl_api_…`) or OAuth tokens (`sl_oat_…`), including app-actor / client_credentials. Documents the API/OAuth response mode only."
  },
  "servers": [
    {
      "url": "https://api.joinsayless.com",
      "description": "Production gateway"
    }
  ],
  "tags": [
    {
      "name": "Tickets"
    },
    {
      "name": "Ticket comments"
    },
    {
      "name": "Ticket content"
    },
    {
      "name": "Ticket statuses"
    },
    {
      "name": "Ticket subscriptions"
    },
    {
      "name": "Conversations"
    },
    {
      "name": "Conversation labels"
    },
    {
      "name": "Conversation statuses"
    },
    {
      "name": "Conversation subscriptions"
    },
    {
      "name": "Conversation views"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Company labels"
    },
    {
      "name": "Company sectors"
    },
    {
      "name": "Contract types"
    },
    {
      "name": "Company relationships"
    },
    {
      "name": "Company updates"
    },
    {
      "name": "Documents"
    },
    {
      "name": "Folders"
    },
    {
      "name": "Notes"
    },
    {
      "name": "Teams"
    },
    {
      "name": "Team memberships"
    },
    {
      "name": "Attachments"
    },
    {
      "name": "Webhook subscriptions"
    },
    {
      "name": "Workspace"
    },
    {
      "name": "Channel webhooks"
    },
    {
      "name": "Integration webhooks"
    }
  ],
  "paths": {
    "/api/v1/tickets/list": {
      "post": {
        "operationId": "TicketsController_fetchWorkspaceTickets",
        "summary": "List tickets",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceTicketsRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/info": {
      "post": {
        "operationId": "TicketsController_fetchTicketInfo",
        "summary": "Get ticket",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketInfoRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/info_by_urlId": {
      "post": {
        "operationId": "TicketsController_FetchByUrlId",
        "summary": "Info By Url Id Tickets",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketByUrlIdRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/create": {
      "post": {
        "operationId": "TicketsController_createTicket",
        "summary": "Create ticket",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTicketRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/tickets/update": {
      "post": {
        "operationId": "TicketsController_updateTicket",
        "summary": "Update ticket",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/delete": {
      "post": {
        "operationId": "TicketsController_deleteTicket",
        "summary": "Delete ticket",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketDeleteRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/restore": {
      "post": {
        "operationId": "TicketsController_restoreTicket",
        "summary": "Restore ticket",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketRemoveAssigneeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/set_sla": {
      "post": {
        "operationId": "TicketsController_setSla",
        "summary": "Set Sla",
        "tags": [
          "Tickets"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetTicketSlaRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketComment/info": {
      "post": {
        "operationId": "TicketsController_timelineInfo",
        "summary": "Get ticket comment ticket",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketTimelineInfoRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketComment/create": {
      "post": {
        "operationId": "TicketsController_createComment",
        "summary": "Create ticket comment ticket",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/tickets/ticketComment/update": {
      "post": {
        "operationId": "TicketsController_updateComment",
        "summary": "Update ticket comment ticket",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCommentRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketComment/delete": {
      "post": {
        "operationId": "TicketsController_deleteComment",
        "summary": "Delete ticket comment ticket",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCommentRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketComment/comment_reaction_add": {
      "post": {
        "operationId": "TicketsController_addCommentReaction",
        "summary": "Comment Reaction Add Ticket Comment Tickets",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentReactionUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketComment/comment_reaction_remove": {
      "post": {
        "operationId": "TicketsController_removeCommentReaction",
        "summary": "Comment Reaction Remove Ticket Comment Tickets",
        "tags": [
          "Ticket comments"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentReactionUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketContent/create": {
      "post": {
        "operationId": "TicketsController_createTicketContent",
        "summary": "Create ticket content ticket",
        "tags": [
          "Ticket content"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTicketContentRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/tickets/ticketContent/update": {
      "post": {
        "operationId": "TicketsController_updateTicketContent",
        "summary": "Update ticket content ticket",
        "tags": [
          "Ticket content"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTicketContentRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketStatus/list": {
      "post": {
        "operationId": "TicketsController_fetchWorkspaceTicketStatus",
        "summary": "List ticket status tickets",
        "tags": [
          "Ticket statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceTicketsRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketStatus/create": {
      "post": {
        "operationId": "TicketsController_createTicketStatus",
        "summary": "Create ticket status ticket",
        "tags": [
          "Ticket statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketStatusCreateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/tickets/ticketStatus/update": {
      "post": {
        "operationId": "TicketsController_updateTicketStatus",
        "summary": "Update ticket status ticket",
        "tags": [
          "Ticket statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketStatusUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketStatus/delete": {
      "post": {
        "operationId": "TicketsController_deleteTicketStatus",
        "summary": "Delete ticket status ticket",
        "tags": [
          "Ticket statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketStatusDeleteRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketSubscriptions/list": {
      "post": {
        "operationId": "TicketsController_fetchUserTicketSubscriptions",
        "summary": "List ticket subscriptions tickets",
        "tags": [
          "Ticket subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceTicketsRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketSubscriptions/info_subscription": {
      "post": {
        "operationId": "TicketsController_fetchTicketSubscriptionInfo",
        "summary": "Info Subscription Ticket Subscriptions Tickets",
        "tags": [
          "Ticket subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketInfoRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketSubscriptions/list_ticket_subscriptions": {
      "post": {
        "operationId": "TicketsController_fetchTicketSubscriptions",
        "summary": "List Ticket Subscriptions Ticket Subscriptions Tickets",
        "tags": [
          "Ticket subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketSubscriptionListConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/tickets/ticketSubscriptions/create": {
      "post": {
        "operationId": "TicketsController_createTicketSubscription",
        "summary": "Create ticket subscriptions ticket",
        "tags": [
          "Ticket subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketSubscriptionRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/tickets/ticketSubscriptions/delete": {
      "post": {
        "operationId": "TicketsController_deleteTicketSubscription",
        "summary": "Delete ticket subscriptions ticket",
        "tags": [
          "Ticket subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketInfoRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/list": {
      "post": {
        "operationId": "ConversationsController_fetchWorkspaceConversations",
        "summary": "List conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/info": {
      "post": {
        "operationId": "ConversationsController_fetchConversationInfo",
        "summary": "Get conversation",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InfoConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/info_byNumber": {
      "post": {
        "operationId": "ConversationsController_fetchConversationInfoByNumber",
        "summary": "Info By Number Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InfoConversationByNumberRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update": {
      "post": {
        "operationId": "ConversationsController_updateConversation",
        "summary": "Update conversation",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/delete": {
      "post": {
        "operationId": "ConversationsController_deleteBulk",
        "summary": "Delete conversation",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/delete_conversation": {
      "post": {
        "operationId": "ConversationsController_delete",
        "summary": "Delete Conversation Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/restore": {
      "post": {
        "operationId": "ConversationsController_restoreDeletedConversation",
        "summary": "Restore conversation",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/archive_conversation": {
      "post": {
        "operationId": "ConversationsController_archiveConversation",
        "summary": "Archive Conversation Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/unarchive_conversation": {
      "post": {
        "operationId": "ConversationsController_unarchiveConversation",
        "summary": "Unarchive Conversation Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/add_team": {
      "post": {
        "operationId": "ConversationsController_assignToTeam",
        "summary": "Add Team Conversation",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTeamRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/assign_user": {
      "post": {
        "operationId": "ConversationsController_assignToUser",
        "summary": "Assign User",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/link_ticket": {
      "post": {
        "operationId": "ConversationsController_linkTicket",
        "summary": "Link Ticket",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkTicketRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/link_track": {
      "get": {
        "operationId": "ConversationsController_handleTestLinkClick",
        "summary": "Link Track",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/mark_read": {
      "post": {
        "operationId": "ConversationsController_markAsRead",
        "summary": "Mark Read",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkReadRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/mark_spam": {
      "post": {
        "operationId": "ConversationsController_markAsSpamConversation",
        "summary": "Mark Spam",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkSpamRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/mark_unread": {
      "post": {
        "operationId": "ConversationsController_markAsUnread",
        "summary": "Mark Unread",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkReadRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/remove_team": {
      "post": {
        "operationId": "ConversationsController_unassignFromTeam",
        "summary": "Remove Team Conversation",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveTeamRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/restore_spam": {
      "post": {
        "operationId": "ConversationsController_restoreFromSpam",
        "summary": "Restore Spam Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreSpamConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/set_sla": {
      "post": {
        "operationId": "ConversationsController_setSla",
        "summary": "Set Sla",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetConversationSlaRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/snooze": {
      "post": {
        "operationId": "ConversationsController_snoozeWorkspaceConversation",
        "summary": "Snooze Conversation",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSnoozeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/spam": {
      "post": {
        "operationId": "ConversationsController_getSpamConversations",
        "summary": "Spam Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSpamConversationsRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/unassign_user": {
      "post": {
        "operationId": "ConversationsController_unassignFromUser",
        "summary": "Unassign User",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveUserRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/unsnooze": {
      "post": {
        "operationId": "ConversationsController_unsnoozeWorkspaceConversation",
        "summary": "Unsnooze Conversation",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveSnoozeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update_company": {
      "post": {
        "operationId": "ConversationsController_updateCompany",
        "summary": "Update Company Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompanyRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update_labels": {
      "post": {
        "operationId": "ConversationsController_updateLabels",
        "summary": "Update Labels Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLabelsRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update_priority": {
      "post": {
        "operationId": "ConversationsController_updatePriority",
        "summary": "Update Priority Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePriorityRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update_status": {
      "post": {
        "operationId": "ConversationsController_updateStatus",
        "summary": "Update Status Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStatusRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/update_subject": {
      "post": {
        "operationId": "ConversationsController_updateSubject",
        "summary": "Update Subject Conversations",
        "tags": [
          "Conversations"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubjectRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationLabels/list": {
      "post": {
        "operationId": "ConversationsController_fetchConversationLabels",
        "summary": "List conversation labels conversations",
        "tags": [
          "Conversation labels"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationLabelListRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationLabels/create": {
      "post": {
        "operationId": "ConversationsController_createConversationLabel",
        "summary": "Create conversation labels conversation",
        "tags": [
          "Conversation labels"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationLabelCreateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/conversations/conversationLabels/update": {
      "post": {
        "operationId": "ConversationsController_updateConversationLabel",
        "summary": "Update conversation labels conversation",
        "tags": [
          "Conversation labels"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationLabelUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationLabels/delete": {
      "post": {
        "operationId": "ConversationsController_deleteConversationLabel",
        "summary": "Delete conversation labels conversation",
        "tags": [
          "Conversation labels"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationLabelDeleteRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationStatus/list": {
      "post": {
        "operationId": "ConversationsController_fetchWorkspaceConversationStatus",
        "summary": "List conversation status conversations",
        "tags": [
          "Conversation statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkspaceRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationStatus/create": {
      "post": {
        "operationId": "ConversationsController_createConversationStatus",
        "summary": "Create conversation status conversation",
        "tags": [
          "Conversation statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationStatusCreateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/conversations/conversationStatus/update": {
      "post": {
        "operationId": "ConversationsController_updateConversationStatus",
        "summary": "Update conversation status conversation",
        "tags": [
          "Conversation statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationStatusUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationStatus/delete": {
      "post": {
        "operationId": "ConversationsController_deleteConversationStatus",
        "summary": "Delete conversation status conversation",
        "tags": [
          "Conversation statuses"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationStatusDeleteRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationSubscriptions/list": {
      "post": {
        "operationId": "ConversationsController_fetchUserConversationSubscriptions",
        "summary": "List conversation subscriptions conversations",
        "tags": [
          "Conversation subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSubscriptionListRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationSubscriptions/conversation.info": {
      "post": {
        "operationId": "ConversationsController_fetchConversationSubscriptionInfo",
        "summary": "Conversation.info Conversation Subscriptions Conversations",
        "tags": [
          "Conversation subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSubscriptionInfoRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationSubscriptions/create": {
      "post": {
        "operationId": "ConversationsController_createConversationSubscription",
        "summary": "Create conversation subscriptions conversation",
        "tags": [
          "Conversation subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSubscriptionCreateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/conversations/conversationSubscriptions/delete": {
      "post": {
        "operationId": "ConversationsController_unsubscribeFromConversation",
        "summary": "Delete conversation subscriptions conversation",
        "tags": [
          "Conversation subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsubscribeConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/conversationSubscriptions/conversation": {
      "post": {
        "operationId": "ConversationsController_fetchConversationSubscriptions",
        "summary": "Conversation Conversation Subscriptions Conversations",
        "tags": [
          "Conversation subscriptions"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationSubscriptionsConversationRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/conversations/viewPreferences/create": {
      "post": {
        "operationId": "ConversationsController_createViewPreferences",
        "summary": "Create view preferences conversation",
        "tags": [
          "Conversation views"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewPreferencesCreateRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/conversations/viewPreferences/update": {
      "post": {
        "operationId": "ConversationsController_updateViewPreferences",
        "summary": "Update view preferences conversation",
        "tags": [
          "Conversation views"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ViewPreferencesUpdateRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/list_conversation_messages": {
      "post": {
        "operationId": "MessagesController_fetchMessageInfo",
        "summary": "List Conversation Messages Messages",
        "tags": [
          "Messages"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListRequestBody"
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/send_message": {
      "post": {
        "operationId": "MessagesController_sendMessage",
        "summary": "Send Message",
        "tags": [
          "Messages"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional. Safe retries for create/send: same key + route + workspace returns the cached success body for 24h. API/OAuth only.",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ]
      }
    },
    "/api/v1/messages/edit_message": {
      "post": {
        "operationId": "MessagesController_editMessage",
        "summary": "Edit Message",
        "tags": [
          "Messages"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public mutation payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMutationPayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditMessageRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/delete_message": {
      "post": {
        "operationId": "MessagesController_deleteMessage",
        "summary": "Delete Message Messages",
        "tags": [
          "Messages"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Public delete payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDeletePayload"
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMessageRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/add_reaction": {
      "post": {
        "operationId": "MessagesController_addMessageReaction",
        "summary": "Add Reaction Message",
        "tags": [
          "Messages"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddReactionRequest"
              }
            }
          }
        }
      }
    },
    "/api/v1/messages/remove_reaction": {
      "post": {
        "operationId": "MessagesController_removeMessageReaction",
        "summary": "Remove Reaction Message",
        "tags": [
          "Messages"
        ],
        "x-stability": "stable",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {},
                    "pagination": {
                      "$ref": "#/components/schemas/ListPagination"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
[...]
